:root {
  /* Surfaces / Поверхности */
  --background: #ffffff;
  --card: #ffffff;
  --secondary: #f4f4f5;
  --muted: #f4f4f5;

  /* Interactive / Интерактивные элементы*/
  --primary: #18181b;
  --border: #e4e4e7;
  --ring: #18181b;

  /* Typography / Текст */
  --foreground: #09090b;
  --muted-foreground: #71717a;

  /* Status / Статус */
  --danger: #fb2c36;
  --danger-20: #fb2c3680;
  --warn: #f0b100;
  --warn-20: #f0b10033;
  --success: #01c950;
  --success-20: #01c95033;
}

:root.dark {
  /* Surfaces / Поверхности */
  --background: #09090b;
  --card: #121214;
  --secondary: #27272a;
  --muted: #18181b;

  /* Interactive / Интерактивные элементы*/
  --primary: #ffffff;
  --border: #27272a;
  --ring: #d4d4d8;

  /* Typography / Текст */
  --foreground: #fafafa;
  --muted-foreground: #a1a1aa;
}
