@use 'colors';
@use 'normalizer';

:root {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: var(--font-manrope);
  background-color: var(--background);
}

.auth-layout {
  display: grid;
  height: 100dvh;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
}
