.input {
  display: flex;
  flex-direction: column;
  gap: 4px;
  position: relative;

  &[data-invalid] {
    .input {
      &__label {
        color: var(--danger);
      }

      &__icon {
        color: var(--danger);
      }
    }
  }

  &[data-focused] {
    .input__icon {
      color: var(--muted-foreground);
    }
  }




  &--default {
    & .input__field {
      border-color: var(--border);
    }
  }

  &--error {
    & .input__field {
      border-color: var(--danger);

      &:focus,
      &:focus-visible {
        border-color: var(--danger);
      }
    }
  }

  &--success {
    & .input__field {

      border-color: var(--success);

      &:focus,
      &:focus-visible {
        border-color: var(--success);
      }
    }
  }

  &--disabled {
    background-color: var(--muted);
    color: var(--muted-foreground);
    cursor: not-allowed;
  }

  &__field {
    width: 100%;
    border: 1px solid var(--border);
    padding: 10px 12px;
    font-size: 14px;
    color: var(--foreground);
    border-radius: 8px;
    background-color: var(--card);

    &[data-invalid] {
      border-color: var(--danger);
    }

    &:focus,
    &:focus-visible {
      outline: none;
      box-shadow: none;
    }
  }

  &__label {
    color: var(--foreground);

    &--error {
      color: var(--danger);
    }
  }

  &__error {
    color: var(--danger);
    font-size: 12px;
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 30%;
    bottom: 0;
    margin: auto 0;
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--muted-foreground);
    pointer-events: none;
    z-index: 2;
  }

  &__control {
    padding-left: 40px;
  }
}
